<div>
  <h1>About</h1>
  <div class="m-3">
    <h2 class="lead">Disponibilizamos mensagens motivacionais com fotos de gatos! Existe algo melhor para ajudar em um dia ruim ?</h2>
  </div>
  <div class="m-3 rounded mx-auto d-flex flex-column align-items-center col-sm-4 justify-content-center">
    <img src="https://pbs.twimg.com/media/C-JGxXgXUAEMd9D.jpg" width="100%">
  </div>
</div>